.stocklistpage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stocklist-countries{
    font-family: var(--primary-font);
    margin-top: 40px;
    text-align: left;
    width: 629px;
}
.stocklist-title{
    font-size: var(--font-size-1);
    font-style: normal;
    font-weight: 700;
    line-height: 10px; /* 83.333% */
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--color-black);
    margin-bottom: 35px;
}
.stocklist-country-name button{
    font-family: var(--primary-font);
    font-size: var(--font-size-2);
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    text-transform: uppercase;
    margin-bottom: 27px;
    cursor: pointer;
    background-color: var(--color-white);
    border: none;
}