.catalog-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.catalog-title{
    font-family: var(--primary-font);
    font-size: var(--font-size-4);
    font-style: normal;
    font-weight: 700;
    line-height: 10px; /* 62.5% */
    text-transform: uppercase;
}
.catalog-product-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 31px;
}
.catalog-filter{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.filter-collection-btn{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--primary-font);
    font-size: var(--font-size-3);
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    border: none;
    background-color: var(--color-white);
    cursor: pointer;
}
.filter-size-btn{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--primary-font);
    font-size: var(--font-size-2);
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    border: none;
    background-color: var(--color-white);
    cursor: pointer;
}
.catalog-products{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
}
.set-category-btn{
    font-size: var(--font-size-3);
    cursor: pointer;
}
#collection-filter{
    gap: 10px; 
}
#collection-filter button{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border: none;
    margin: 20px 0px 0px 50px;
    font-family: var(--primary-font);
    padding: 5px 0px;
    border-bottom: 1px solid var(--color-grey-3);
}
#size-filter{
    gap: 10px;
}
#size-filter button{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border: none;
    margin: 20px 0px 0px 50px;
    font-family: var(--primary-font);
    padding: 5px 0px;
    border-bottom: 1px solid var(--color-grey-3);
}
.no-products-message{
    font-family: var(--primary-font);
    font-size: var(--font-size-6);
    position: relative;
    left: -80px;
    top: 7px;
}
.clear-filter-btn{
    position: relative;
    top: 10px;
   background-color: var(--color-black);
   color: var(--color-white);
   border: none;
   padding: 10px 16px;
   font-family: var(--primary-font);
   font-size: var(--font-size-3);
}